<div id="comment" data-role="page" class="page-container">
	
	<div class="page-header" data-role="header" data-position="inline">
		<a href="#home">Back</a>
		<h1>&nbsp;</h1>
		<a href="#">Sign Up</a>
	</div><!-- /header -->

	<div data-role="content" class="content-container">
		<div class="all-container login-container">
		</div>		
	</div><!-- /content -->

</div><!-- /page -->	

<div id="createpost" data-role="page" class="page-container">
	
	<div class="page-header" data-role="header" data-position="inline">
		<a href="#home">Back</a>
		<h1>&nbsp;</h1>
		<a href="#">Sign Up</a>
	</div><!-- /header -->

	<div data-role="content" class="content-container">
		<textarea name="textarea" id="textarea"></textarea>
	</div><!-- /content -->

</div><!-- /page -->	