<div id="post_page" data-role="page" class="page-container">
		
	<div data-role="content" class="content-container">
		<div class="all-container post-container">
			<h1 class="message">Post a blog</h1>
			<form id="postme">
				<input type="text" name="post[title]" id="post_title" class="txtinp" value="" placeholder="Title" />
				<textarea name="post[body]" id="post_body" class="txtarea" placeholder="Your article here..."></textarea>
				<input type="submit" id="post_it" value="Post It" />
				<a href="/" data-direction="reverse">Cancel</a>
			</form>
		</div>		
	</div><!-- /content -->

</div><!-- /page -->